<!DOCTYPE html>
<html>
  <head>
    <title>I offer no condolences to you using this</title>
    <link rel="stylesheet" type="text/css" href="/css/vendor/spectrum/spectrum.css">
  </head>
  <body>
    <p>{{stuff}}<p>
    <input type="text" id="picker" />

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/vendor/spectrum/spectrum.js"></script>
    <script>
      $('#picker')
        .spectrum({color: '#f00'})
        .on('change.spectrum', function(e, color) {
          console.log(color.toHexString());
        });
    </script>
  </body>  
</html>
